<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @url.short_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @url.user.name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @url.created_at %>
</p>


<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
