<p>
  <strong>Long url:</strong>
  <%= link_to @url.long_url, @url.long_url, target: "_blank"  %>
</p>
<p>
  <strong>Short url:</strong>
  <%= link_to "http://#{APP_CONFIG['client_host']}/#{@url.short_url}" ,
      "http://#{APP_CONFIG['client_host']}/#{@url.short_url}",
      target: "_blank"  %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @url.user.name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @url.created_at %>
</p>

<p>
  <strong>Total clicks: </strong>
  <%= @url_clicks.length %>
</p>

<p>
  <strong>Total unique clicks: </strong>
  <%= @url_clicks.select('ip').distinct.length %>
</p>
<p><strong>utm_source:</strong> <%= @url.utm_source %></p>
<p><strong>utm_medium:</strong> <%= @url.utm_medium %></p>
<p><strong>utm_campaign:</strong> <%= @url.utm_campaign %></p>
<p><strong>utm_term:</strong> <%= @url.utm_term %></p>
<p><strong>utm_content:</strong> <%= @url.utm_content %></p>
<p>


<table class="table table-striped">
  <thead>
    <tr>
      <th>date</th>
      <th>clicks</th>
    </tr>
  </thead>
  <tbody>

<% @url_click_days.each do |k, v| %>
  <tr>
    <td>
      <%= k %>
    </td>
    <td>
      <%= v.size %>
    </td>
  </tr>
</tbody>

<% end %>
</p>
<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
